In [1]:
import numpy as np 
import pandas as pd

In [29]:
d={"name":['Ashwani','vishal','Sahil','Banty'] ,'marks':[12,34,56,'89'],'dob':['12-aug-1995','24-12-2000','23/4/2001','26-4-1994']}
d2={"name":['Ashwani','vishal','Sahil','Banty'] ,'marks':[12,34,56,67]}

In [30]:
df1=pd.DataFrame(d)
df1

      name marks          dob
0  Ashwani    12  12-aug-1995
1   vishal    34   24-12-2000
2    Sahil    56    23/4/2001
3    Banty    89    26-4-1994

In [34]:
import calendar as cal
df1.month_name(df1['dob'])

AttributeError: 'DataFrame' object has no attribute 'month_name'

In [35]:
df2=pd.DataFrame(d)
print(df2.dtypes)
df2

name     object
marks    object
dob      object
dtype: object

      name marks          dob
0  Ashwani    12  12-aug-1995
1   vishal    34   24-12-2000
2    Sahil    56    23/4/2001
3    Banty    89    26-4-1994

TypeError: 'int' object is not iterable

In [27]:

for j in df1:
    t=[]
    if j=='name':
        continue
    else:
        for i in df1[j]:
            if type(i)== str:
                print(i)
            elif type(i)==int:
                t.append(i)
print(t)

89
[12, 34, 56]

In [14]:
df2['marks'].max()

67

In [28]:
df2

      name  marks
0  Ashwani     12
1   vishal     34
2    Sahil     56
3    Banty     67